@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <header>
            <h2>GIỚI THIỆU</h2>
        </header>
        <section>
            <article>
                <h1>Nguyen Trong Tin</h1>
                <p>------</p>
                <img src="~/image/Anh.png" style="width:100px;" />
            </article>
        </section>

        <footer>
            <p>Copyright &copy; Nguyen Trong Tin - @DateTime.Now.Year</p>
        </footer>
</div>
