
@{
    ViewData["Title"] = "Index";
}

<header>
    <h2>GIỚI THIỆU</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a href="~/trang-chu">Bản thân</a></li>
            <li><a href="~/gioi-thieu-nhom">Nhóm</a></li>
        </ul>
    </nav>

    <article>
       <table>
           <thead>
            <th>STT</th>
            <th>Mã số sinh viên</th>
            <th>Họ và tên</th>
           </thead>
           <tbody>
            <tr>
                <td>1</td>
                <td>01</td>
                <td>Nguyễn Trọng Tín</td>
            </tr>
                <tr>
                    <td>2</td>
                    <td>02</td>
                    <td>Lê Thành Duy</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>03</td>
                    <td>Lê Thị Kim Hà</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>04</td>
                    <td>Phan Minh Trường</td>
                </tr>
           </tbody>
       </table>
    </article>
</section>

<footer>
    <p>Copyright &copy; Le Nhat Tung - @DateTime.Now.Year</p>
</footer>

