
@{
    ViewData["Title"] = "BaiTap02";
}

@model SanPhamViewModel
<h1>BaiTap2</h1>
<head>
    sản phẩm 
</head>
<body>
    <h1>@Model.TenSanPham</h1>
    <p>GiaBan: @Model.GiaBan</p>
    <img src="@Model.image" alt="@Model.TenSanPham"
</body>
